<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/sphic?characterEncoding=utf8
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password"></property>
	<property name="hibernate.connection.pool_size">10</property>
	<property name="show_sql">true</property>
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.hbm2ddl.auto">update</property>
	<property name="connection.username">root</property>
	<property name="connection.password">sphic</property>
	<mapping class="org.sphic.Model.Patient" />
	<mapping class="org.sphic.Model.Study" />
	<mapping class="org.sphic.Model.Series" />
	<mapping class="org.sphic.Model.Account" />
	<!--<mapping class="org.sphic.Model.Profile" />-->
	<mapping class="org.sphic.Model.StructureSet" />
	<mapping class="org.sphic.Model.Structure" />
	<mapping class="org.sphic.Model.Contour" />
	<mapping class="org.sphic.Model.Slice" />
	<mapping class="org.sphic.Model.ImageSeries" />
</session-factory>
</hibernate-configuration>